.graphInner {
  /* background-color: aqua; */
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  /* margin-top: 10%; */
  margin: 0 auto;
  align-content: space-around;
}

.felxdiv {
  /* margin-top: 5%; */
  flex: 1;
  margin: 0 auto;
}

.spinnerdashboard {
  margin-top: 20%;
}

.chartsvg {
  margin-left: 10%;
  margin-top: 10%;
}

.graphOuter {
  margin-left: 21%;
  align-content: space-around;
  margin: 0 auto;
  /* margin-top: 7%; */
  /* border: 1px solid black; */
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 770px) {
  .chartsvg {
    margin-left: 4%;
    margin-top: 6%;
  }
  .graphOuter {
    margin-left: 0%;
    /* align-content: space-around; */
    margin: 0 auto;
    margin-top: 7%;
    /* border: 1px solid black; */
    width: 770px;
    height: 500px;
  }
}

@media screen and (max-width: 575px) {
  .chartsvg {
    margin-left: 1%;
    margin-top: 1%;
  }
  .graphOuter {
    margin-left: 0%;
    /* align-content: space-around; */
    margin: 0 auto;
    margin-top: 7%;
    /* border: 1px solid black; */
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 507px) {
  .chartsvg {
    margin-left: 1%;
    margin-top: 1%;
  }
  .graphOuter {
    /* margin-left: 21%; */
    /* align-content: space-around; */
    margin: 0 auto;
    margin-top: 7%;
    /* border: 1px solid black; */
    width: 450px;
    height: 300px;
    /* display: flex;
    flex-direction: column; */
  }
}

@media screen and (max-width: 450px) {
  .chartsvg {
    margin-left: 1%;
    margin-top: 1%;
  }
  .graphOuter {
    /* margin-left: 21%; */
    /* align-content: space-around; */
    margin: 0 auto;
    margin-top: 7%;
    /* border: 1px solid black; */
    width: 380px;
    height: 200px;
    /* display: flex;
    flex-direction: column; */
  }
}

@media screen and (max-width: 380px) {
  .chartsvg {
    margin-left: 1%;
    margin-top: 1%;
  }
  .graphOuter {
    /* margin-left: 21%; */
    /* align-content: space-around; */
    margin: 0 auto;
    margin-top: 7%;
    /* border: 1px solid black; */
    width: 330px;
    height: 200px;
    /* display: flex;
    flex-direction: column; */
  }
}

.linkref {
  margin-top: 1%;
  color: white;
  text-decoration: none !important;
}

.inner {
  padding-top: 0.8%;
}

a:focus,
a:hover {
  color: #fff;
}

.mastfoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  color: white;
  /* background-color: #666666; */
  text-align: center;
}

.updatediv {
  text-align: center;
  margin: 0 auto;
}
